@import "../colors";

.plans {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

.plan {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 15px 13px 12px 13px;
  border: 1px solid $Light-gray;
  border-radius: 10px;
  color: $Marine-blue;
}

.plan-img {
  width: 35px;
  height: 35px;
  margin-bottom: 40px;
}

.img1 {
  background: url(../../assets/images/icon-arcade.svg) no-repeat;
  background-size: cover;
  background-position: center;
}

.img2 {
  background: url(../../assets/images/icon-advanced.svg) no-repeat;
  background-size: cover;
  background-position: center;
}

.img3 {
  background: url(../../assets/images/icon-pro.svg) no-repeat;
  background-size: cover;
  background-position: center;
}

.price {
  color: $Cool-gray;
}

.discount {
  font-size: 14px;
  letter-spacing: -.5px;
}

.btn-back {
  position: absolute;
  bottom: 5px;
  left: 0;
  background-color: inherit;
  border: none;
  font-weight: 600;
  color: $Cool-gray;
  cursor: pointer;
  transition: color .3s ease;
}

.btn-back:hover {
  color: $Marine-blue;
}

.toggle {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: $Magnolia;
  border-radius: 10px;
}

.activePlan {
  border-color: $Purplish-blue;
  background-color: $Magnolia;
}