@import "../colors";

.form-label {
  font-weight: 700;
  color: $Marine-blue;
}

.form-control:focus {
  border-color: $Marine-blue;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error {
  color: $Strawberry-red;
}

.invalid-feedback {
  display: flex;
  justify-content: end;
  width: 50%;
}

.form-control::placeholder {
  color: $Cool-gray;
}

@media (max-width: 375px) {
  .form-label {
    margin-bottom: unset;
  }
}