@import "./components/step1";
@import "./components/step2";
@import "./components/step3";
@import "./components/step4";
@import "./components/step5";
@import "./components/stepsNav";
@import "./colors";

@font-face {
  font-family: "Ubuntu";
  src: url(../../assets/fonts/Ubuntu-Bold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: "Ubuntu";
  src: url(../../assets/fonts/Ubuntu-Medium.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Ubuntu";
  src: url(../../assets/fonts/Ubuntu-Regular.ttf);
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $Magnolia;
  font-family: "Ubuntu", sans-serif;
}

.container {
  max-width: 900px;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 50px auto;
  border-radius: 10px;
  background-color: $Alabaster;
}

.step-content {
  width: 54%;
  margin: 30px 60px 20px 0;
  position: relative;
}

.title {
  font-weight: 900;
  color: $Marine-blue;
}

.description {
  margin-bottom: 30px;
  color: $Cool-gray;
}

.btn-primary {
  padding: 8px 18px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: $Marine-blue;
  border: none;
}

