.step1-content {
  width: 54%;
  margin: 30px 60px 20px 0;
  position: relative;
}

.title {
  font-weight: 900;
}

.description {
  color: hsl(231, 11%, 63%);
}

form {
  margin-top: 30px;
}

.form-label {
  font-weight: 700;
  color: hsl(213, 96%, 18%);
}

.form-control:focus {
  border-color: hsl(213, 96%, 18%);
}

.btn-primary {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: hsl(213, 96%, 18%);
  border: none;
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error {
  color: hsl(354, 84%, 57%);
}

.invalid-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 50%;
}

.form-control::-webkit-input-placeholder {
  color: hsl(231, 11%, 63%);
}

.form-control::-moz-placeholder {
  color: hsl(231, 11%, 63%);
}

.form-control:-ms-input-placeholder {
  color: hsl(231, 11%, 63%);
}

.form-control::-ms-input-placeholder {
  color: hsl(231, 11%, 63%);
}

.form-control::placeholder {
  color: hsl(231, 11%, 63%);
}

.steps-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 28%;
  padding: 40px 30px;
  height: 100%;
  background: url(../../assets/images/bg-sidebar-desktop.svg) no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  color: hsl(231, 100%, 99%);
  gap: 25px;
}

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.step-number {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  border-radius: 50%;
  border: 1px solid hsl(231, 100%, 99%);
  background-color: inherit;
  color: hsl(231, 100%, 99%);
  font-weight: 700;
}

.active {
  background-color: hsl(206, 94%, 87%);
  border: 1px solid hsl(213, 96%, 18%);
  color: hsl(213, 96%, 18%);
}

.step-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: normal;
  font-size: 14px;
}

.step-name {
  color: hsl(228, 100%, 84%);
}

@font-face {
  font-family: "Ubuntu";
  src: url(../../assets/fonts/Ubuntu-Bold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: "Ubuntu";
  src: url(../../assets/fonts/Ubuntu-Medium.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Ubuntu";
  src: url(../../assets/fonts/Ubuntu-Regular.ttf);
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: hsl(217, 100%, 97%);
  font-family: "Ubuntu", sans-serif;
}

.container {
  max-width: 900px;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  margin: 50px auto;
  border-radius: 10px;
  background-color: hsl(231, 100%, 99%);
}

.title {
  color: hsl(213, 96%, 18%);
}